@use '../../globalStyle/variables.scss' as v;
@use '../../globalStyle/mixins.scss' as m;
.Form {
  width: 320px;
  &_header {
    @include m.Header2;
    color: v.$accent-color;
    margin-bottom: 24px;
  }
  &_container {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 8px;
  }
  &_text {
    @include m.Link_small;
    color: v.$black1B-color;
  }
  &_link {
    @include m.Link_small;
    color: v.$link-color;
  }
}
