@use '../../globalStyle/variables.scss' as v;
@use '../../globalStyle/mixins.scss' as m;
.Form {
  width: 320px;
  &_header {
    @include m.Header2;
    color: v.$accent-color;
    margin-bottom: 24px;
  }
  &_container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }
}
